<%= form_for @month, :html => { class: "form-horizontal month" } do |f| %>
  <% if @month.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@month.errors.count, "error") %> prohibited this month from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @month.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row"><div class="col-md-6">
    <div class="control-group">
      <%= f.label :firstDay, class: 'control-label' %>
      <div class="controls">
        <%= f.date_field :firstDay, class: 'form-control' %>
      </div>
      <%= error_span(@month[:firstDay]) %>
    </div>
  </div></div>
  <div class="clearfix"></div>
  <br>

  <%= f.submit nil, class: 'btn btn-primary' %>
  <%= link_to t('cancel'), months_path, class: 'btn btn-default' %>

<% end %>
