<div class="page-header">
  <h1><%=t 'months.months' %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= Month.human_attribute_name(:id) %></th>
    <th><%= Month.human_attribute_name(:name) %></th>
    <th><%= Month.human_attribute_name(:firstDay) %></th>
    <th><%=t 'actions' %></th>
  </tr>
  </thead>
  <tbody>
  <% @months.each do |month| %>
    <tr>
      <td><%= link_to month.id, month_path(month) %></td>
      <td><%= month.locale_name %></td>
      <td><%= format_date month.firstDay %></td>
      <td>
        <%= link_to t('edit'), edit_month_path(month), class: 'btn btn-default btn-xs' %>
        <%= link_to t('destroy'), month_path(month),
                    method: :delete,
                    data: { confirm: t('confirm') },
                    class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('months.new_month'), new_month_path, class: 'btn btn-primary' %>
