<div class="page-header">
  <h1><%=t 'months.month' %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= Month.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @month.name %></dd>
  <dt><strong><%= Month.human_attribute_name(:firstDay) %>:</strong></dt>
  <dd><%= format_date @month.firstDay %></dd>
</dl>

<br>
<%= link_to t('back'), months_path, class: 'btn btn-default'  %>
<%= link_to t('edit'), edit_month_path(@month), class: 'btn btn-default' %>
<%= link_to t('destroy'), month_path(@month),
            method: 'delete',
            data: { confirm: t('confirm') },
            class: 'btn btn-danger' %>
