<%= form_for @notification, :html => { class: "form-horizontal notification" } do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @notification.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row"><div class="col-md-6">
    <div class="control-group">
      <%= f.label :text, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :text, class: 'form-control' %>
      </div>
      <%= error_span(@notification[:text]) %>
    </div>
    <div class="control-group">
      <%= f.label :importance, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :importance, class: 'form-control' %>
      </div>
      <%= error_span(@notification[:importance]) %>
    </div>
    <div class="control-group">
      <%= f.label :elapseDate, class: 'control-label' %>
      <div class="controls">
        <%= f.date_field :elapseDate, class: 'form-control' %>
      </div>
      <%= error_span(@notification[:elapseDate]) %>
    </div>
  </div></div>
  <div class="clearfix"></div>
  <br>

  <%= f.submit nil, class: 'btn btn-primary' %>
  <%= link_to t('cancel'), notifications_path, class: 'btn btn-default' %>

<% end %>
