<div class="page-header">
  <h1><%=t 'notifications.notifications' %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= Notification.human_attribute_name(:id) %></th>
    <th><%= Notification.human_attribute_name(:text) %></th>
    <th><%= Notification.human_attribute_name(:importance) %></th>
    <th><%= Notification.human_attribute_name(:elapseDate) %></th>
    <th><%=t 'actions' %></th>
  </tr>
  </thead>
  <tbody>
  <% @notifications.each do |notification| %>
    <tr>
      <td><%= link_to notification.id, notification_path(notification) %></td>
      <td><%= notification.text %></td>
      <td><%= notification.importance %></td>
      <td><%= format_date notification.elapseDate %></td>
      <td>
        <%= link_to t('edit'), edit_notification_path(notification), class: 'btn btn-default btn-xs' %>
        <%= link_to t('destroy'), notification_path(notification),
                    method: :delete,
                    data: { confirm: t('confirm') },
                    class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('notifications.new_notification'), new_notification_path, class: 'btn btn-primary' %>
