<div class="page-header">
  <h1><%=t 'notifications.notification' %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= Notification.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= @notification.text %></dd>
  <dt><strong><%= Notification.human_attribute_name(:importance) %>:</strong></dt>
  <dd><%= @notification.importance %></dd>
  <dt><strong><%= Notification.human_attribute_name(:elapseDate) %>:</strong></dt>
  <dd><%= format_date @notification.elapseDate %></dd>
</dl>

<br>
<%= link_to t('back'), notifications_path, class: 'btn btn-default'  %>
<%= link_to t('edit'), edit_notification_path(@notification), class: 'btn btn-default' %>
<%= link_to t('destroy'), notification_path(@notification),
            method: 'delete',
            data: { confirm: t('confirm') },
            class: 'btn btn-danger' %>
