<div class="page-header">
  <h1>Notification</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= Notification.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= @notification.text %></dd>
  <dt><strong><%= Notification.human_attribute_name(:importance) %>:</strong></dt>
  <dd><%= @notification.importance %></dd>
  <dt><strong><%= Notification.human_attribute_name(:elapseDate) %>:</strong></dt>
  <dd><%= @notification.elapseDate %></dd>
</dl>

<br>
<%= link_to 'Back', notifications_path, class: 'btn btn-default'  %>
<%= link_to 'Edit', edit_notification_path(@notification), class: 'btn btn-default' %>
<%= link_to 'Destroy', notification_path(@notification),
            method: 'delete',
            data: { confirm: 'Are you sure?' },
            class: 'btn btn-danger' %>
