<div class="page-header">
  <h1><%=t 'users.users' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:username) %></th>
      <th><%= User.human_attribute_name(:mail) %></th>
      <th><%= User.human_attribute_name(:banned) %></th>
      <th><%= User.human_attribute_name(:deleted) %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.mail %></td>
        <td><%= boolean_mark user.banned %></td>
        <td><%= boolean_mark user.deleted %></td>
        <td>
          <%= link_to t('edit'), edit_user_path(user), class: 'btn btn-default btn-xs' %>
          <%= link_to t('destroy'), user_path(user),
                      method: :delete,
                      data: { confirm: t('confirm') },
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('users.new_user'), new_user_path, class: 'btn btn-primary' %>
