<div class="page-header">
  <h1><%=t 'users.user' %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= User.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= User.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @user.username %></dd>
  <dt><strong><%= User.human_attribute_name(:mail) %>:</strong></dt>
  <dd><%= @user.mail %></dd>
  <dt><strong><%= User.human_attribute_name(:banned) %>:</strong></dt>
  <dd><%= boolean_mark @user.banned %></dd>
  <dt><strong><%= User.human_attribute_name(:deleted) %>:</strong></dt>
  <dd><%= boolean_mark @user.deleted %></dd>
</dl>

<h2><%=t 'users.roles' %>:</h2>
<ul>
  <% @roles.each do |role| %>
    <li>
      <%= role.name %>
      <% if policy(@user).destroy_role? %>
        <%= link_to t('remove'), user_destroy_role_path(@user, role), method: :delete,
                    class: ['btn', 'btn-danger', 'btn-xs'] %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if policy(@user).new_role? %>
  <%= form_for @user, url: user_new_role_path(@user), method: :post, html: {class: 'form-inline'} do |f| %>
    <div class="form-group">
      <%= select_tag 'user[role_id]', options_from_collection_for_select(Role.all, 'id', 'name'),
                     class: 'form-control' %>
      <%= f.submit t('users.add_role'), class: ['btn', 'btn-primary'] %>
    </div>
  <% end %>
<% end %>

<br>
  <%= link_to t('back'), users_path, class: 'btn btn-default'  %>
  <%= link_to t('edit'), edit_user_path(@user), class: 'btn btn-default' %>
  <%= link_to t('destroy'), user_path(@user),
                method: 'delete',
                data: { confirm: t('confirm') },
                class: 'btn btn-danger' %>
