<% @notifications.each do |notification| %>
  <div class="panel panel-primary panel-<%= notification.importance %>">
    <div class="panel-body">
      <%= notification.text %>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%=t 'home.user' %></th>
      <% @months.each do |month| %>
        <th><%= month.locale_name %></th>
      <% end %>
      <% if current_user %>
        <th><%=t 'actions' %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @grid.keys.sort_by { |user| "#{user.deleted}|#{user.banned}|#{user.name}" }.each do |user| %>
      <%- cols = @grid[user] %>
      <tr class="<%= 'banned' if user.banned %> <%= 'deleted' if user.deleted %>">
        <td>
          <%= user.name %>
          <small><%= user.username %></small>
          <% user.roles.each do |role| %>
            <span class="label label-info"><%= role.name %></span>
          <% end %>
          <%= "<span class='label label-danger'>#{t 'home.banned'}</span>".html_safe if user.banned %>
          <%= "<span class='label label-danger'>#{t 'home.deleted'}</span>".html_safe if user.deleted %>
          <% user.additional_badges.each do |badge| %>
            <%= additional_badge(badge) %>
          <% end %>
        </td>
        <% @months.each do |month| %>
          <% if cols[month] == nil %>
            <td><%= false_mark %></td>
          <% else %>
            <td><%= true_mark %></td>
          <% end %>
        <% end %>
        <% if current_user %>
          <td><%= link_to t('edit'), edit_user_path(user), class: ['btn', 'btn-warning', 'btn-xs'] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%=raw t 'home.this_month', name: @current_month.locale_name %></h2>
<div class="col-md-9">
  <div class="progress">
    <div class="progress-bar progress-bar-striped <%= 'progress-bar-success' if @current_month_paid >= @total_per_month %>"
         style="width: <%= 100.0*@current_month_paid/@total_per_month %>%;">
      <%= format_currency @current_month_paid %> / <%= format_currency @total_per_month %>
    </div>
  </div>
</div>
<div class="col-md-3">
  <p><%= format_currency @cost_per_user %> per person</p>
</div>
<div class="clearfix"></div>

<h3><%=t 'home.statistics' %></h3>
<dl class="dl-horizontal">
  <%- num_month = @months.where('"firstDay" <= ?', Date.today).count %>
  <dt><%=t 'home.registered_months' %></dt><dd><%= num_month %></dd>
  <dt><%=t 'home.total_amount' %></dt><dd><%= format_currency @total_balance %></dd>
  <dt><%=t 'home.average_per_month' %></dt><dd><%= format_currency @total_balance/num_month %></dd>
  <dt><%=t 'home.delta' %></dt><dd><%= format_currency @total_balance-@total_per_month*num_month %></dd>
</dl>

<h2><%=t 'home.balance' %> <small><%=t 'home.last_20_records' %></small></h2>
<table class="table">
  <thead>
    <tr>
      <th><%= Event.human_attribute_name(:date) %></th>
      <th><%= Event.human_attribute_name(:details) %></th>
      <th><%= Event.human_attribute_name(:amount) %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.last(20).each do |event| %>
      <tr>
        <td><%= format_date event.date %></td>
        <td><%= event.locale_description %></td>
        <td><%= format_currency event.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
