<%= form_for @event, :html => { class: "form-horizontal event" } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row"><div class="col-md-6">
    <div class="control-group">
      <%= f.label :date, class: 'control-label' %>
      <div class="controls">
        <%= f.date_field :date, class: 'form-control' %>
      </div>
      <%= error_span(@event[:date]) %>
    </div>
    <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <%= error_span(@event[:description]) %>
    </div>
    <div class="control-group">
      <%= f.label :amount, class: 'control-label' %>
      <div class="controls">
        <%= f.number_field :amount, class: 'form-control', step: 0.01 %>
      </div>
      <%= error_span(@event[:amount]) %>
    </div>
  </div></div>
  <div class="clearfix"></div>
  <br>

  <%= f.submit nil, class: 'btn btn-primary' %>
  <%= link_to t('cancel'), events_path, class: 'btn btn-default' %>

<% end %>
