<div class="page-header">
  <h1><%=t 'events.events' %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= Event.human_attribute_name(:id) %></th>
    <th><%= Event.human_attribute_name(:date) %></th>
    <th><%= Event.human_attribute_name(:description) %></th>
    <th><%= Event.human_attribute_name(:amount) %></th>
    <th><%=t 'actions' %></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.id, event_path(event) %></td>
      <td><%= format_date event.date %></td>
      <td><%= event.locale_description %></td>
      <td><%= format_currency event.amount %></td>
      <td>
        <%= link_to t('edit'), edit_event_path(event), class: 'btn btn-default btn-xs' %>
        <%= link_to t('destroy'), event_path(event),
                    method: :delete,
                    data: { confirm: t('confirm') },
                    class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('events.new_event'), new_event_path, class: 'btn btn-primary' %>
