<div class="page-header">
  <h1>Event</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= Event.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @event.date %></dd>
  <dt><strong><%= Event.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd>
  <dt><strong><%= Event.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @event.amount %></dd>
</dl>

<br>
<%= link_to 'Back', events_path, class: 'btn btn-default'  %>
<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-default' %>
<%= link_to 'Destroy', event_path(@event),
            method: 'delete',
            data: { confirm: 'Are you sure?' },
            class: 'btn btn-danger' %>
