<div class="page-header">
  <h1><%=t 'events.event' %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= Event.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= format_date @event.date %></dd>
  <dt><strong><%= Event.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd>
  <dt><strong><%= Event.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= format_currency @event.amount %></dd>
</dl>

<br>
<%= link_to t('back'), events_path, class: 'btn btn-default'  %>
<%= link_to t('edit'), edit_event_path(@event), class: 'btn btn-default' %>
<%= link_to t('destroy'), event_path(@event),
            method: 'delete',
            data: { confirm: t('confirm') },
            class: 'btn btn-danger' %>
