<%= form_for @payment, :html => { class: "form-horizontal payment" } do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @payment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row"><div class="col-md-6">
    <div class="control-group">
      <%= f.label :user, class: 'control-label' %>
      <div class="controls">
        <%= f.select :user_id, options_from_collection_for_select(@users, "id", "name"), {}, class: 'form-control' %>
      </div>
      <%= error_span(@payment[:user_id]) %>
    </div>
    <div class="control-group">
      <%= f.label :month, class: 'control-label' %>
      <div class="controls">
        <%= f.select :month_id, options_from_collection_for_select(@months, "id", "name"), {}, class: 'form-control' %>
      </div>
      <%= error_span(@payment[:month_id]) %>
    </div>
  </div></div>
  <div class="clearfix"></div>
  <br>

  <%= f.submit nil, class: 'btn btn-primary' %>
  <%= link_to 'Cancel', payments_path, class: 'btn btn-default' %>

<% end %>
