<div class="page-header">
  <h1><%=t 'payments.payments' %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= Payment.human_attribute_name(:id) %></th>
    <th><%= Payment.human_attribute_name(:payment) %></th>
    <th><%= Payment.human_attribute_name(:month) %></th>
    <th><%=t 'actions' %></th>
  </tr>
  </thead>
  <tbody>
  <% @payments.each do |payment| %>
    <tr>
      <td><%= link_to payment.id, payment_path(payment) %></td>
      <td><%= payment.user.name %></td>
      <td><%= payment.month.locale_name %></td>
      <td>
        <%= link_to t('edit'), edit_payment_path(payment), class: 'btn btn-default btn-xs' %>
        <%= link_to t('destroy'), payment_path(payment),
                    method: :delete,
                    data: { confirm: t('confirm') },
                    class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('payments.new_payment'), new_payment_path, class: 'btn btn-primary' %>
