<div class="page-header">
  <h1><%=t 'payments.payment' %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= Payment.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @payment.user.name %></dd>
  <dt><strong><%= Payment.human_attribute_name(:month) %>:</strong></dt>
  <dd><%= @payment.month.name %></dd>
</dl>

<br>
<%= link_to t('back'), payments_path, class: 'btn btn-default'  %>
<%= link_to t('edit'), edit_payment_path(@payment), class: 'btn btn-default' %>
<%= link_to t('destroy'), payment_path(@payment),
            method: 'delete',
            data: { confirm: t('confirm') },
            class: 'btn btn-danger' %>
