<!DOCTYPE html>
<html>
<head>
  <title><%=t 'title' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<h1 class="text-center"><%= link_to "Serben Cash", root_path %></h1>
<% if current_user %>
  <%= render 'admin_navbar' %>
<% end %>
<%= yield %>

</body>
</html>
