<!DOCTYPE html>
<html>
<head>
  <title>SerbenCash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<h1 class="text-center"><%= link_to "Serben Cash", root_path %></h1>
<% if current_user %>
  <p class="text-center">
    Welcome, <%= current_user.username %>.
    <%= link_to 'Logout', logout_path, method: :delete %>
  </p>
<% end %>
<%= yield %>

</body>
</html>
